/*
------ Navigation -----
*/
.nav-head{
	background-color: #32C1CE;
	font-size: 13px;
	color: #fff;
	padding: 10px;
	letter-spacing: .5px;
}
.nav-head p a{
	font-size: 13px;
	color: #EBECFD;
	text-decoration: none; 
	outline: 0;
}
.nav-head p a:hover{
	border-bottom: solid 1px #EBECFD;
}
.nav-head p span{
	font-size: 11px;
	color: #EBECFD;
}
.nav-head p{
	margin: 2px 0;
}
.logo{
	width: 200px;
}
#navbarResponsive .nav{
	margin: 0 auto;
}
.navbar{
	background-color: white;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.navbar .nav-item{
	margin: 0px 15px;
}
.navbar .nav-item .nav-link{
	letter-spacing: 1px;
	padding: 10px;
	font-size: 12px;
	color: #858697;
}
@media(max-width: 991px){
	.nav-head{
		text-align: center;
	}
	.navbar .dropdown-menu{
	   margin-left: 30px;
	   border-top: solid 1px #EBECFD;
	   border-bottom: solid 1px #EBECFD;
	}
	.navbar .dropdown-menu .nav-link{
		margin: 5px;
	}
}
@media(min-width: 992px){
	.head-contact{
		text-align: left;
	}
	.head-gram{
		text-align: right;
	}
	.navbar .dropdown-menu{
	   box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
	}
}
.navbar .nav-item .nav-link.active{
	color: rgb(2, 167, 182);
	font-weight: bold;
}
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link:focus{
	transition-duration: 0.5s;
	color: rgb(2, 167, 182);
}
.dropdown .dropdown-menu .row .mega-menu-title h6{
	margin-top: 5px;
	color: #015259;
}
.dropdown .dropdown-menu .row .underline{
	height: 3px;
	background-color: #32C1CE;
	width: 20px;
	margin: 0px;
	border: none;
}
.mega-menu ul{
	padding: 0px;
	list-style: none;
}
@media (max-width: 991px){
  .navbar{
	  padding: 15px 30px;
  }	
  .navbar .navbar-collapse{
	  margin-top: 30px;
	  border:solid 1px #dee2e6;
  }
  .collapse.show{
	  overflow-y: auto;
	  -webkit-overflow-scrolling: touch;
  }
  .navbar .nav li{
	  border-bottom: solid 1px #dee2e6;
	  margin: 0;
	  padding: 5px;
  }
  .navbar .nav li:last-child{
	  border-bottom: none;
  }
  .navbar .nav-item .nav-link.active{
	  border-left: solid 5px rgb(2, 167, 182);
  }
  .navbar .nav-item .nav-link:hover, 
  .navbar .nav-item .nav-link:focus{
	  border-left: solid 5px rgb(2, 167, 182);
	  background-color: #EBFCFD;
	  transition-duration: 0.5s;
  }
  .dropdown .dropdown-menu{
	  border: solid 1px #dee2e6;
	  border-radius: 0;
	  margin:10px;
	  padding: 0;
  }
  .dropdown .dropdown-menu li{
	  padding: 0;
  }
  .dropdown .dropdown-menu li a{
	  margin: 0;
  }
  .dropdown .dropdown-menu .row li a.active, .dropdown .dropdown-menu .row li a:hover,.dropdown .dropdown-menu .row li a:focus{
	  background-color: #EBFCFD;
  }
}
.navbar-light .navbar-toggler{
	border: none;
	background-color: white;
}
.navbar-light .navbar-toggler:focus{
	outline: none;
}
.navbar-light .navbar-toggler .fa-bars{
	font-size: 30px;
}
/*---Dropdown----*/
	@media(min-width: 992px){
	  .dropdown-menu{
		  position: absolute;
		  border: none;
		  border-radius: 0px;
		  background-color: #fff;
		  padding: 0px;
		  margin: 5px 0 0;
		  transition: all 0.5s ease;
		  -webkit-transform: translate3d(0, 20px, 0);
		  -moz-transform: translate3d(0, 20px, 0);
		  -ms-transform: translate3d(0, 20px, 0);
		  -o-transform: translate3d(0, 20px, 0);
		  transform: translate3d(0, 20px, 0);
		  z-index: 5;
		  display: block;
		visibility: hidden;
		opacity: 0;
	  }
	   .dropdown:hover .sub-menu{
		  -webkit-transform: translate3d(0,1px,0);
		  -moz-transform: translate3d(0,1px,0);
		  -o-transform: translate3d(0,1px,0);
		  transform: translate3d(0,1px,0);
		  transition: all 0.5s ease;
		  visibility: visible;
		  opacity: 1;
	  }
	  .dropdown .mega-menu{
		  background-color: #fff;
		  position: absolute;
		left: 0%;
		top: 100%;
		z-index: 4;
		  transition: all 0.5s ease;
		-webkit-transform: translate3d(-200px, 20px, 0);
		-moz-transform: translate3d(-200px, 20px, 0);
		-ms-transform: translate3d(-200px, 20px, 0);
		-o-transform: translate3d(-200px, 20px, 0);
		transform: translate3d(-200px, 20px, 0);
		display: block;
		padding: 0px;
		opacity: 0;
		border: none;
		visibility: hidden;
	  }
	  .dropdown:hover .mega-menu{
		  -webkit-transform: translate3d(-300px, 5px, 0);
		  -moz-transform: translate3d(-300px, 5px, 0);
		  -o-transform: translate3d(-300px, 5px, 0);
		  transform: translate3d(-300px, 5px, 0);
		  visibility: visible;
		  opacity: 1;
	  }
	  .mega-menu .row{
		  flex-wrap: nowrap;
		  white-space: nowrap;
		background-color: #fff;
	  }
	  .mega-menu .col-md-3{
		  padding: 0px;
	  }
	  .dropdown .dropdown-menu ul div{
		  padding: 10px;
	  }
	  .dropdown .dropdown-menu .row li{
		  position: relative;
		  line-height: 120%;
		  border-top: 1px solid #eaeaea;
		  border-right: 1px solid #eaeaea;
	  }
	  .dropdown .dropdown-menu .row .col-md-3:last-child li{
		  border-right: none;
	  }
	  .dropdown .dropdown-menu .row li a{
		color: #858697;
		  font-weight: 400;
		  font-size: 13px;
		  line-height: 120%;
		  display: block;
		  padding: 12px 100px 10px 10px;
		  transition: all 0.2s;
		  position: relative;
		  width: auto;
		  text-decoration: none;
	  }
	  .dropdown .sub-menu li a{
		  border-bottom: solid 1px #EBECFD; 
	  }
	  .dropdown .sub-menu li a.focus, .dropdown .dropdown-menu .row li a.focus
	  .dropdown .sub-menu li a.active, .dropdown .dropdown-menu .row li a.active,
	  .dropdown .sub-menu li a:hover,
	  .dropdown .dropdown-menu .row li a:hover{
		  background-color: #fff;
		  border-left: solid 3px #32C1CE;
		  transition: all 0.2s ease;
		  color: #32C1CE;
	  }
	}
/*---Dropdown----*/
.navbar-brand{
	display: inline;
	margin-right: 0;
}
li.d-lg-block{
	margin-right: 0;
}
/*
------ Navigation -----
*/

/*
------ Search Field -----
*/
.search-field {
	position: absolute;
	top: 0;
	right: 0;
}
.search-field .search-field-btn {
	color: #32C1CE;
	margin-top: 12px;
	font-size: 20px;
}
.search-field .search-field-btn {
	height: auto;
	line-height: 50px;
	width: 50px;
	text-align: center;
	display: block;
	position: relative;
}
.search-field .search-field-btn .fa {
	display: inline-block;
	padding: 1px;
}
.search-show .search-field .search-field-btn .fa:before {
  content: '\f00d';
}
.search-field .search-field-form {
	z-index: 3;
	position: absolute;
	top: 120%;
	right: 0;
	margin: 5px 1px 0 0;
	display: block;
	transition: all 0.2s ease;
	-webkit-transform: translate3d(0, 5px, 0);
	-moz-transform: translate3d(0, 5px, 0);
	-ms-transform: translate3d(0, 5px, 0);
	-o-transform: translate3d(0, 5px, 0);
	transform: translate3d(0, 5px, 0);
	visibility: hidden;
	opacity: 0;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}
.search-show .search-field .search-field-form {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  display: block;
  visibility: visible;
  opacity: 1;
}
.search-field .search-field-form input[type="text"] {
	border: 1px solid #e7e7e7;
	background: #f8f8f8;
	height: 50px;
	width: 350px;
	color: #777;
	font-size: 14px;
	padding: 0 45px 0 15px;
	transition: all 0.2s;
}
.search-field .search-field-form input[type=text]::-webkit-input-placeholder {
  color: #777;
}
.search-field .search-field-form input[type=text]::-moz-placeholder {
  color: #777;
  opacity: 1;
}
.search-field .search-field-form input[type=text]:-ms-input-placeholder {
  color: #777;
}
.search-field .search-field-form button[type="submit"] {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 50px;
	height: 50px;
	background: #32C1CE;
	color: #FFFFFF;
	transition: all 0.2s;
	border: none;
	font-size: 20px;
}
.search-field .search-field-form button[type=submit]:hover {
  background: #32C1CE;
}
/*
------ Search Field -----
*/	


/*
------ Section Footer Styles -----
*/
.social-media{
	width: 30px;
}
.footer{
	color: #fff;
	background-attachment: scroll;
	background-position: center center;
	background-repeat: none;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	margin-top: auto;
}
.footer p{
	font-size: 14px;
	letter-spacing: 1px;
}
.footer .content .btn-trspt{
	border-radius: .25rem;
	font-size: 12px;
	background-color: transparent;
	color: #32C1CE;
	border: solid 1px #32C1CE;
	transition-duration: 1s;
}
.footer .content .btn-trspt:hover{
	color: #fff;
}
.footer .container{
	padding: 1% 0%;
	background-color: #312B23;
}
.footer .container h4{
	font-family: time new roman;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 30px;
	color: #EBECFD;
}
.footer .container .col-12 .content{
	padding: 15px 20px;
}
.footer .container ul{
	list-style: none;
	font-size: 15px;
	padding-left: 0px;
	margin-bottom: 0px;
}
.footer .container ul li{
	padding: 5px;
	margin-bottom: 10px;
}
.footer .container ul li:last-child{
	margin-bottom: 0px;
}
.footer .container ul li a{
	color: #fff;
	outline: 0;
}
.footer .container ul li a:hover{
	text-decoration: none;
	color: #32C1CE;
}
.footer .container .fa{
	color: #32C1CE;
}
.footer form{
	margin-bottom: 50px;
}
.footer .form-control{
	background-color: #EBECFD;
	font-size: 14px;
}
.footer .form-control:focus{
	border-color: #32C1CE;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.footer .btn{
	background-color: #32C1CE;
	border-radius: 0 5px 5px 0;
}
.footer .btn:hover{
	background-color: rgb(2,180,200);
}
.footer .btn:hover .fa{
	color: #EBECFD;
}
.footer .btn .fa{
	color: #fff;
}
.socials-links{
	margin-bottom: 0;
}
.socials-links li{
	display: inline;
	margin-left: 5px;
}
.socials-links li .fa{
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	transition-duration: 0.75s;
	font-size: 14px;
}
.socials-links li .fa:hover{
	border-radius: 50%;
}
.socials-links li .fa-facebook{
	background-color: #3B5999;
	border: solid 1px #3B5999;
}
.socials-links li .fa-twitter{
	background-color: #55ACEE;
	border: solid 1px #55ACEE;
}
.socials-links li .fa-google-plus{
	background-color: #DC4A38;
	border: solid 1px #DC4A38;
}
.socials-links li .fa-instagram{
	background-color: #ff0175;
	border: solid 1px #ff0175;
}
.foot-bottom{
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	font-size: 13px;
}
.foot-bottom p{
	margin: 2px 0;
	letter-spacing: .5px;
}
.foot-bottom p span{
	color: #32C1CE;
}
@media(max-width: 767px){
  .usefuls_links{
	  border-top: solid 2px #015259;
	  border-bottom: solid 2px #015259;
  }
  .footer .btn{
	height: 35px;
  }
}
@media(min-width: 768px){
  .usefuls_links{
	  border-right: solid 2px #015259;
	  border-left: solid 2px #015259;
  }
}
@media(max-width: 991px){
	.foot-bottom{
	   text-align: center;
	}
}
@media(min-width: 992px){
	.foot-bottom{
		padding: 10px 5%;
	}
	.foot-sign{
		text-align: left;
	}
	.foot-athr{
		text-align: right;
	}
}
/*
------ Section Footer Styles -----
*/
