{% extends 'base.html.twig' %}

{% block title %}Maintenance{% endblock %}

{% block body %}

<!-- Maintenance Page -->
<div class="mtnce-page">
	<div class="container">
		<h2>Ce site est actuellement en maintenance nous reviendrons <span>très bientôt</span></h2>  
	</div>
</div>
<!-- Maintenance Page -->

{% endblock %}

