/****** Pagination******/
.pagination{
    margin: 70px 0 30px 0;
}
.pagination .page-item .page-link{
    font-size: 14px;
    padding: 13px 18px;
}
/****** Pagination******/

.filter-menu {
    display: inline-block;
    margin: 60px 0;
}

.filter-menu button.active {
    color: #FFF;
    background-color: #32C1CE;
}
.filter-menu button {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1px;
    color: #777;
    text-transform: uppercase;
    padding: 20px 30px;
    border: none;
    outline: none;
    background-color: #fff;
    border: 0;
    margin: 5px 10px;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
    transition-duration: 1s;
    border-radius: .15rem;
}
.filter-menu button:hover{
    background-image: none;
    color: #fff;
    background-color: #32C1CE;
}
.filter-menu button.active:hover{
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.gallery-container {
    text-align: center;
}
.gallery-container ul {
    position: relative;
    width: 100%;
    font-size: 0;
    padding: 0;
    overflow: hidden;
}
.gallery-container .portfolio-image li {
    position: relative;
    min-height: 1px;
    width: 25%;
    float: left;
    font-size: 0;
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: 25% 15px 0 15px;
    cursor: pointer;
}
.gallery-container ul li a {
    display: block;
    width: 100%;
    height: 100%;
}
.gallery-container ul li img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-filter: grayscale(60%);
    filter: grayscale(60%);
    -webkit-transition: filter, transform, .4s;
    transition: filter, transform, .4s;
}
.gallery-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(242, 242, 242, 0.1);
    padding: 20px;
    -webkit-transition: background 0.4s;
    transition: background 0.4s;
}
.gallery-layer-dark {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.gallery-block:hover .gallery-layer-dark{
	opacity: 1;
}
.gallery-layer-dark p {
    position: absolute;
    top: 49%;
    left: 0;
    margin-top: -44px;
    right: 0;
    display: table-cell;
    color: #32C1CE;
    font-size: 36px;
    z-index: 1;
}
.gallery-layer-dark p .fa {
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
}
.gal-1, .gal-2{
    padding: 0 3%;
}
.gal-1 ul li img{
    margin: 5px;
}
.gal-1 .gallery-layer-dark p .fa{
    width: 65px;
    height: 65px;
    line-height: 65px;
    font-size: 25px;
    margin-right: -10px;
    margin-top: 20px;
}
/* (min-width:768px) (max-width:992px) */
@media only screen and (max-width:992px){
	.gallery-container .portfolio-image li{
		width: 33.33%;
		padding-top: 33.33%;
	}
}
/* (min-width:768px) (max-width:992px) */

/* (min-width:480px) (max-width:768px) */
@media only screen and (max-width:768px){
	.gallery-container .portfolio-image li{
		width: 50%;
		padding-top: 50%;
	}
}
/* (min-width:480px) (max-width:768px) */

/* (max-width:480px) */
@media only screen and (max-width:480px){
	.gallery-container .portfolio-image li{
		width: 100%;
		padding-top: 100%;
	}
}
/* (max-width:480px) */